<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.let.mapper.UserMapper">
    <resultMap type="com.example.let.domain.User" id="result">
        <result property="idx" column="idx" />
        <result property="image" column="image" />
        <result property="id" column="id" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="createTime" column="create_time" />
        <result property="userType" column="user_type" />
        <result property="registerTime" column="register_time" />
        <result property="grade" column="grade" />
        <result property="className" column="class_name" />
        <result property="classNo" column="class_no" />
        <result property="approvedYn" column="approved_yn" />
        <result property="withdrawedYn" column="withdrawed_yn" />
        <result property="withdrawedTime" column="withdrawed_time" />
        <result property="refreshToken" column="refresh_token" />
    </resultMap>
    <resultMap type="com.example.let.domain.res.ChartResponse" id="chart">
        <result property="id" column="id" />
        <result property="value" column="value" />
    </resultMap>

    <sql id="sql_select">
        SELECT
            idx
             , image
             , id
             , password
             , name
             , DATE_FORMAT(create_time, '%Y-%m-%dT%T+09:00') AS create_time
             , user_type
             , grade
             , class_name
             , class_no
             , approved_yn
             , withdrawed_yn
             , DATE_FORMAT(withdrawed_time, '%Y-%m-%dT%T+09:00') AS withdrawed_time
    </sql>

    <select id="get" resultMap="result">
        <include refid="sql_select"></include>
        FROM user
    </select>
    <select id="getByIdx" resultMap="result">
        <include refid="sql_select"></include>
        FROM user
        WHERE idx = #{idx}
    </select>
    <select id="getById" resultMap="result">
        <include refid="sql_select"></include>
        FROM user
        WHERE id = #{id}
    </select>
    <update id="setRefreshToken">
        UPDATE user
        SET refresh_token = #{refreshCode}
        WHERE id = #{id}
    </update>
    <select id="getRefreshTokenById" resultType="String">
        SELECT refresh_token
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="register" parameterType="com.example.let.domain.User"
            keyProperty="idx">

        INSERT INTO user
        (
            idx
            , id
            , password
            , name
            , create_time
            , user_type
            , grade
            , class_name
            , class_no
        )
        VALUES
        (
            #{idx}
            , #{id}
            , #{password}
            , #{name}
            , now()
            , #{userType}
            , #{grade}
            , #{className}
            , #{classNo}
        )
    </insert>

    <select id="getChartByMealApplication" resultMap="chart">
        SELECT ("신청 안함") AS id,
               (
                   (SELECT count(*)
                    FROM user
                    WHERE user_type = 'S'
                      AND meal_application = 'N')
               ) AS value
        UNION ALL
        SELECT ("신청") AS id,
               (
                   (SELECT count(*)
                    FROM user
                    WHERE user_type = 'S'
                      AND meal_application = 'Y')
               ) AS value;
    </select>
    <select id="getChartByMealAttendBreakfast" resultMap="chart">
        SELECT ("참석") AS id,
               (
                   (SELECT count(*)
                    FROM entry
                    WHERE DATE_FORMAT(entry_time, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                    AND status = 'N'
                    AND info = "breakfast")
               ) AS value
        UNION ALL
        SELECT ("미참석") AS id,
               (
                   (SELECT count(*)
                    FROM user
                    WHERE user_type = 'S'
                    AND meal_application = 'Y')
                    -
                   (SELECT count(*)
                    FROM entry
                    WHERE DATE_FORMAT(entry_time, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                    AND status = 'N'
                    AND info = "breakfast")
               ) AS value
    </select>
    <select id="getChartByMealAttendLunch" resultMap="chart">
        SELECT ("참석") AS id,
               (
                   (SELECT count(*)
                    FROM entry
                    WHERE DATE_FORMAT(entry_time, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                      AND status = 'N'
                      AND info = "lunch")
               ) AS value
        UNION ALL
        SELECT ("미참석") AS id,
               (
                       (SELECT count(*)
                        FROM user
                        WHERE user_type = 'S'
                          AND meal_application = 'Y')
                       -
                       (SELECT count(*)
                        FROM entry
                        WHERE DATE_FORMAT(entry_time, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                          AND status = 'N'
                          AND info = "lunch")
                   ) AS value
    </select>
    <select id="getChartByMealAttendDinner" resultMap="chart">
        SELECT ("참석") AS id,
               (
                   (SELECT count(*)
                    FROM entry
                    WHERE DATE_FORMAT(entry_time, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                      AND status = 'N'
                      AND info = "dinner")
               ) AS value
        UNION ALL
        SELECT ("미참석") AS id,
               (
                       (SELECT count(*)
                        FROM user
                        WHERE user_type = 'S'
                          AND meal_application = 'Y')
                       -
                       (SELECT count(*)
                        FROM entry
                        WHERE DATE_FORMAT(entry_time, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
                          AND status = 'N'
                          AND info = "dinner")
                   ) AS value
    </select>
</mapper>